on:
  workflow_run:
    workflows: ['CI']
    types: [completed]
    branches:
      - 'master'

jobs:
  Deploy:
      runs-on: ubuntu-latest
      permissions:
        pages: write
        id-token: write
      steps:
        - name: deploy the artifacts
          uses: actions/deploy-pages@v4
    
  
