on:
  workflow_run:
    workflows: ['CI']
    types: [completed]
    branches:
      - 'master'

jobs:
  Deploy:
      runs-on: ubuntu-latest
      permissions:
        actions: read
        pages: read
        id-token: write
        
      steps:
        - name: Download Pages artifact
          uses: actions/download-artifact@v4
          with:
            name: github-pages
            path: ./sites
            github-token: ${{ secrets.GH_PAT }}

        - name: deploy the artifacts
          uses: actions/deploy-pages@v4
