on:
  workflow_run:
    workflows: ['CI']
    types: [completed]
    branches:
      - 'master'

jobs:
  Deploy:
      runs-on: ubuntu-latest
      permissions:
        actions: read
        pages: read
        id-token: write
        
      steps:
        - name: Checkout repository
          uses: actions/checkout@v2

        - name: Download artifact
          uses: actions/download-artifact@v4
          with:
            name: github-pages  # The name of the artifact you uploaded in Workflow 
            
        - name: deploy the artifacts
          uses: actions/deploy-pages@v4
