name: CI

on:
  push:
    branches: [ development ]
  pull_request:
    branches: [ development ]

jobs:
  Deploy:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Prepare the webpage
        run: |
          mkdir sites
          mv htmlcov sites/
          mv coverage.xml sites/

      - name: upload the artifacts
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./sites

      - name: deploy the artifacts
        uses: actions/deploy-pages@v4
    
    
